
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultório Dra. Cristine</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css.css' %}">
</head>
<body>

    <section class="class-section-header">
        <header>
            <nav>
                <div>
                    <img src="{% static 'Logos/logo.jpeg' %}" alt="logo" class="logo">
                </div>
                <div>
                    <h1 class="class-nav-div-h1-logo-name">
                        Moritz Odontologia
                    </h1>
                </div>
                <div>
                    <ul>
                        <li>
                            <a>
                                Clinica
                            </a>
                        </li>
                        <li>
                            <a>
                                Doutora
                            </a>
                        </li>
                        <li>
                            <a>
                                Procedimentos
                            </a>
                            
                        </li>
                        <li>
                            <a>
                                Contato
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </section>


    <section class="poster">
        <div class="poster-div-1">
            <div class="poster-div-2">
            </div>
        </div>
    </section>



    <section  class='class-section-clinica'> 
        Clinica

    </section>

    <section class='class-section-doutora'>
        Doutora
    </section>

    <section class='class-section-procedimentos'>
        Procedimentos
    </section> 

   

    <section class='class-section-footer'>
        <footer>
            Footer
        </footer>
    </section>

    
</body>
</html>
